<!-- Footer Start -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Footer Header Start -->
                <div class="footer-header">
                    <!-- Section Title Start -->
                    <div class="section-title dark-section">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Ready to work with us?</h2>
                        <p>Join us to experience cutting-edge industrial solutions that drive innovation, lasting
                            success.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Footer Contact Circle Start -->
                    <div class="footer-contact-circle">
                        <img loading="lazy" decoding="async" src="assets/images/contact-now-circle.svg" alt="">
                    </div>
                    <!-- Footer Contact Circle End -->
                </div>
                <!-- Footer Header End -->
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img loading="lazy" decoding="async" src="assets/images/footer-logo.png" alt="">
                    </div>
                    <!-- Footer Logo End -->

                    <!-- About Footer Content Start -->
                    <div class="about-footer-content">
                        <p>We are committed to providing personalized industrial solutions.</p>
                    </div>
                    <!-- About Footer Content End -->

                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>
                <!-- About Footer End -->
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>quick links</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="about.html">about us</a></li>
                        <li><a href="services.html">services</a></li>
                        <li><a href="blog.html">blog</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Security</h3>
                    <ul>
                        <li><a href="#">term & condition</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">help</a></li>
                        <li><a href="contact.html">contact us</a></li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>

            <div class="col-lg-2 col-md-4 col-12">
                <!-- Footer Links Start -->
                <div class="footer-links">
                    <h3>Contact</h3>
                    <ul>
                        <li>+91 883-0538833</li>
                        <li>paperstickindustries@gmail.com</li>
                        <li>Dighi Pune - 412105</li>
                    </ul>
                </div>
                <!-- Footer Links End -->
            </div>
        </div>

        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright © 2025 Paperystick. All Rights Reserved.</p>
                        <p>Created by <img loading="lazy" decoding="async" src="assets/images/cover logo.png"
                                alt="Paperystick" style="height: 70px; vertical-align: middle;"></p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
</footer>
<!-- Footer End -->