<!-- Topbar Section Start -->
<div class="topbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="site-logo">
                    <a href="./">
                        <img src="assets/images/paperystick-logo.png" alt="Logo">
                    </a>
                </div>
                <!-- Logo End -->
            </div>

            <div class="col-lg-9 col-md-12">
                <!-- Topbar Contact Information Start -->
                <div class="topbar-contact-info">
                    <ul>
                        <li>
                            <a href="tel:+918830538833">
                                <div class="icon-box">
                                    <img src="assets/images/icon-phone.svg" alt="logo">
                                </div>
                                <p>+91 883-0538833</p>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:paperstickindustries@gmail.com">
                                <div class="icon-box">
                                    <img src="assets/images/icon-mail.svg" alt="">
                                </div>
                                <p>paperstickindustries@gmail.com</p>
                            </a>
                        </li>
                    </ul>
                    <!-- Topbar Qoute Button Start -->
                    <div class="topbar-qoute-btn">
                        <a href="contact.html" class="btn-default"><span>Get In Touch</span></a>
                    </div>
                    <!-- Topbar Qoute Button End -->
                </div>
                <!-- Topbar Contact Information End -->
            </div>
        </div>
    </div>
</div>
<!-- Topbar Section End -->